# Hopsworks API Key for Cloud Feature Store & Model Registry (Optional)
HOPSWORKS_API_KEY=

# Default Target City Settings
DEFAULT_CITY_NAME=New York
DEFAULT_LATITUDE=40.7128
DEFAULT_LONGITUDE=-74.0060
